*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    color: white;
}

.parallax-tile{
    .one {
        background-image: url(../images/pexels-stas-knop-1626481.jpg);
    }
    .two{
        background-image: url(../images/pexels-emre-can-2110951.jpg);
    }
    .three{
        background-image: url(../images/pexels-sunyu-kim-1294671.jpg);
    }
    .parallax {
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            padding: 200px 18px 18px 18px;
            font-family: 'Open Sans', sans-serif;
            text-align: left;
            letter-spacing: 10px;
            margin: 0 auto;
        }
    }
}

.filler{
    height: 150px;
}

.sitescontainer{
    height: 200px;
    width: 100%;
    margin: 0 auto;
    ul{
        height: fit-content;
        width: fit-content;
        list-style: none;
        display: flex;
        margin: 0 auto;
    }
    li{
        height: 100px;
        width: 33%;
        background-color: blueviolet;
    }
}
